.input {
  transform: translateY(17rem) translateX(4.2rem);
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--primary-app-color-pastelYellow);
  opacity: 0.3;
  font-size: 0.8rem;
}

.inputEmail,
.inputPassword {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.9rem;
  color: var(--primary-app-color-pastelYellow);
  background: transparent;
  border: none;
  border-bottom: 1.5px solid var(--primary-app-color-pastelYellow);
  cursor: text;
  width: 17em;
  line-height: 1.6rem;
  margin-inline: 0.8rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  transform: translateY(2rem);
}

/* input:invalid {
  border-color: rgb(255, 82, 125);
} */

.welcome {
  font-family: "X_BAMBI", serif;
  font-size: 1.688rem;
  letter-spacing: 0.14rem;
  fill: var(--primary-app-color-pastelYellow);
}
.back {
  font-family: "X_BAMBI", serif;
  font-size: 1.688rem;
  letter-spacing: 0.14rem;
  fill: var(--primary-app-color-pastelYellow);
  padding: 1rem;
}

.Btn {
  transform: translateX(17.4rem) translateY(20rem);
  border-style: none;
  background: none;
}
