.container {
  height: 480vh;
  background-color: var(--app-color-blue);
  position: relative;
  overflow: hidden;
}

.girlOnSwing {
  transform: translateX(-0.4rem) translateY(3.1rem) rotate(2deg);
  position: absolute;
}

.header {
  position: relative;
}

.greeting1 {
  font-family: "X_BAMBI", serif;
  color: var(--app-color-pastelYellow);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  transform: translateX(9rem) translateY(4rem);
}
.greeting2 {
  font-family: "X_BAMBI", serif;
  font-weight: normal;
  color: var(--app-color-pastelYellow);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  transform: translateX(7rem) translateY(3.1rem);
}

.shapes {
  transform: translateX(-9rem) translateY(3.1rem);
  position: relative;
}

.textContainer {
  position: absolute;
  top: 16rem;
  left: 1.2rem;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.my {
  position: relative;
  font-family: "X_BAMBI", serif;
  font-weight: normal;
  color: var(--app-color-blue);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  padding: 0;
  border: none;
}
.habits {
  position: relative;
  font-family: "X_BAMBI", serif;
  color: var(--app-color-blue);
  font-size: 1.1rem;
  font-weight: normal;
  padding: 0;
  letter-spacing: 0.1rem;
  grid-area: 1 / 1 / 2 / 2;
  transform: translateX(1rem) translateY(0.1rem);
}
