.Container {
  background-color: var(--app-color-pastelYellow);
  overflow-x: hidden;
  height: 100vh;
}

.GetStarted {
  transform: translateX(2rem) translateY(2rem);
}

.Btn {
  transform: translateX(2.5rem) translateY(4.7rem);
}
