@font-face {
  font-family: "X_BAMBI";
  src: url(/fonts/X_BAMBI.woff) format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --app-color-blue: #5861f3;
  --app-color-coral: #f39b85;
  --app-color-pastelYellow: #ffffd6;
  --app-color-turquoise: #a6f7e7;
  --app-font-color-brown: #4a4038;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
